# 🖥️ Server Configuration
PORT=5000
NODE_ENV=development

# 🐧 Database Configuration
MONGO_URI=mongodb+srv://admin:admin123@cluster0.e4jkfg1.mongodb.net/?appName=Cluster0

# 🔐 Security Configuration (JWT)
JWT_SECRET=yoursupersecretjwtkeyhere
JWT_EXPIRE=30d

# ☁️ Cloudinary Configuration (For Resumes/Profiles)
CLOUDINARY_CLOUD_NAME=dhchr7xyx
CLOUDINARY_API_KEY=322139324341168
CLOUDINARY_API_SECRET=Cn1yhns3DGqk5ubxOMZddadwwrM

# 📧 Email Configuration (Nodemailer)
EMAIL_SERVICE=gmail
EMAIL_USER=ivarbonless56@gmail.com
EMAIL_PASS=Pps@12345

# 🌐 Frontend (For CORS)
FRONTEND_URL=http://localhost:5173
